@background-color: #f9f9f9;

/*表格标题*/
.pd-grid .pd-grid-title{
    padding: 5px;
    overflow: hidden;
    font-family: "微软雅黑";
}
.pd-grid .pd-grid-title .title{
    float: left;
    font-size: 15px;
}
.pd-grid .pd-grid-title i:last-child{
    float:left;
    padding:3px;
    cursor:pointer;
    color:#BDB4B4
}
.pd-grid .pd-grid-title i:last-child:hover{
    color:#2898e0;
}

/*操作栏*/
.pd-grid-toolbar {
    overflow: hidden;
    border: 1px solid #ddd;
    border-bottom: none;
    background-color: #f9f9f9;
}
.pd-grid-toolbar ul{
    list-style: none;
    float: left;
    margin: 10px 0;
    padding:0;
}
.pd-grid-toolbar ul li:first-child {
    border-left:0;
}
.pd-grid-toolbar ul li{
    float: left;
    font-size: 14px;
    line-height: 12px;
    border-left: 1px solid #c9c9c9;
    padding: 0 7px;
    /*font-family: Arial, "微软雅黑", "宋体", Tahoma, Helvetica, sans-serif;*/
}
.pd-grid-toolbar ul li a{
    padding: 3px 7px;
}
.pd-grid-toolbar ul li a .fa{
    margin-right: 4px;
}
.pd-grid-toolbar ul li a:hover {
    background-color: #2898e0!important;
    text-decoration: none;
    border-radius: 3px;
    color: #fff;
}


/*content部分*/
.pd-grid table{
    width:100%;
    table-layout: fixed;
}
/*行固定高度*/
.pd-grid tr{
    height:30px;
}
/*所有单元格的内容，只要超过宽度就...显示*/
.pd-grid table td{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 5px 0 5px;
}

/*Header*/
.pd-grid-header{
    border: 1px solid #ddd;
    white-space: nowrap;
}
/*排序按钮样式*/
.pd-grid-header i{
    margin-left: 5px;
    color: #307ECC;
    cursor: pointer;
}
.pd-grid-locked-header{
    display: inline-block;
    vertical-align: top;
}
.pd-grid-active-header{
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}
.pd-grid-active-header-inner{
    float: left;
    /*width: 100%; *//*解决IE中title不对齐的问题*/
    width:100%;  //再次加上，IE9 title不对齐问题【redmine 637】--YiYing-2017.11.15--不清楚之前为什么注释掉
    padding-right: 17px;
}

/*表格title部分*/
.pd-grid thead td{
    border-right: 1px solid #ddd;
    background-color: @background-color;
}
.pd-grid-locked-header thead tr td:first-child{
    border-left: 0px;
}
.pd-grid-active-header thead tr td:last-child{
    border-right: 0px;
}

/*Body*/
.pd-grid-body{
    white-space: nowrap;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.pd-grid-locked-body{
    display: inline-block;
    vertical-align: top;
    height: 100%;
    overflow: hidden;
}
.pd-grid-active-body{
    display: inline-block;
    overflow: auto;
    vertical-align: top;         /*解决inline-block与auto同时使用高度问题*/
    height: 100%;
}
/*滚动条高度处理*/
.pd-grid-locked-body-inner{
    padding-bottom: 17px;
}

/*表格内容部分*/
.pd-grid-body table tbody td{
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.pd-grid-locked-body table tr td:first-child{
    border-left: 0px;
}
.pd-grid-active-body table tr td:last-child{
    border-right: 0px;
}


/*分页样式*/
.pd-grid-pagination{
    border:#ddd 1px solid;
    border-top: 0;
    background-color: #f9f9f9;
    padding: 5px;
    height: 40px;
    line-height: 30px;
    width:100%;
    overflow: hidden;
}
.pd-grid-pagination a{
    border-radius: 1.0833em;
    border: 1px solid #818181;
    text-align: center;
    opacity: .7;
    width: 28px;
    height: 28px;
    line-height: 28px;
    display: block;
    float:left;
    margin-left:5px;
    color:#818181;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.pd-grid-pagination a.disable{
    color:#ccc!important;
    border-color:#ccc!important;
}
.pd-grid-pagination a:hover{
    border-color: #337ab7;
    color:#337ab7;
}
.pd-grid-pagination span{
    float: right;
    margin-left: 5px;
}
.pd-grid-pagination span.curPage{
    float: left;
}
.pd-grid-pagination span.curPage input{
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.pd-grid-pagination span.curPage input:focus{
    outline: 1px solid #c1c1c1;
}
.pd-grid-pagination .pageSize select,.pd-grid-pagination .dataCount .num{
    margin: 0 3px;
    font-style:normal;
}