/* webuploader css start */
.cs-crop-picker{
	/*
	position: absolute;
	opacity: 0;
	filter:alpha(opacity=0);
	left:0;
	right:0;
	top:0;
	bottom:0;
	*/
}
/*
.cs-crop-picker{
	display: inline-block;
}
.cs-crop-picker .webuploader-pick{
	position: relative;
	display: inline-block;
	cursor: pointer;
	background: #00b7ee;
	padding: 5px 10px;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
}
.cs-crop-picker .webuploader-pick-hover {
	background-color: #2898e0;
	color: #fff;
	text-decoration: none;
}
*/
/* webuploader css end */
.cs-crop-view {
	box-shadow: inset 0 0 5px rgba(0,0,0,.25);
    background-color: #fcfcfc;
}
.cs-crop-wrap {
    overflow: hidden;
    height: 350px;
    margin-top: 5px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.25);
    background-color: #fcfcfc;
}
.cs-crop-preview{
	height: 150px;
	margin-bottom: 20px;
	margin-top: 5px;
	box-shadow: inset 0 0 5px rgba(0,0,0,.25);
    background-color: #fcfcfc;
    overflow: hidden;
}
.cs-crop-data .input-group label{
	min-width: 50px;
}
.cs-crop-data .input-group span{
	min-width: 40px;
}
.cs-crop-data .input-group{
	margin-bottom: 8px;
}
.cs-crop-btns{
	margin-top: 15px;
}
.cs-crop-btns .btn-group{
	margin-bottom: 10px;
}