<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.css.base.demo.dao.mapper.ApprovalTemplateMapper">

    <insert id="persist" useGeneratedKeys="true" keyProperty="id" parameterType="WfmApprovalTemplate">
        insert into wfm_approvaltemplate
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="userId != null" >
                userId,
            </if>
            <if test="opinion != null" >
                opinion,
            </if>
            <if test="sort != null" >
                sort,
            </if>
            <if test="createtime != null" >
                createtime,
            </if>
            <if test="updatetime != null" >
                updatetime,
            </if>
            <if test="usedtime != null" >
                usedtime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="userId != null" >
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="opinion != null" >
                #{opinion,jdbcType=VARCHAR},
            </if>
            <if test="sort != null" >
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="createtime != null" >
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null" >
                #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="usedtime != null" >
                #{usedtime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="listApprovalTemplates" resultType="WfmApprovalTemplate">
       select * from wfm_approvaltemplate where userId=#{userId} order by sort
    </select>
    <select id="getApprovalTemplate" resultType="WfmApprovalTemplate">
       select * from wfm_approvaltemplate where id=#{id}
    </select>
    <select id="queryApprovalTemplates" resultType="WfmApprovalTemplate">
       select * from wfm_approvaltemplate where userId=#{userId}
        <if test="opinion != null and opinion != '' " >
            and opinion like '%' + #{opinion} + '%' ,
        </if>
       order by sort
    </select>
    <delete id="deleteApprovalTemplates" parameterType="java.util.List">
        delete from wfm_approvaltemplate  where id in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </delete>
</mapper>