/*页签部分*/
.pd-selectOrg-nav{
    margin-top: 30px;
    float:left;
    list-style: none;
    width:25px;
}
.pd-selectOrg-nav li{
    margin: 5px 0 5px 0;
    padding-left: 5px;
}
.pd-selectOrg-nav li:hover{
    background-color: #eee;
}
/*选中的页签、已选数据项*/
.pd-selectOrg-activity{
    background-color: #eee;
}

/*左侧树*/
.pd-selectOrg-tree{
    margin-top:5px;
    width: 100%;
    height: 313px;
    border: 1px solid #eee;
    overflow: auto;
    padding: 0 10px 10px 0; /*滚动条美化*/
}
/*中间数据部分*/
.pd-selectOrg-dataList{
    margin-top: 5px;
    width: 100%;
    height: 311px;
    /*border: 1px solid #eee;*/
}
/*右侧已选择数据部分*/
.pd-selectOrg-selectList{
    margin-top: 5px;
    width: 100%;
    height: 311px;
    border: 1px solid #eee;
    overflow-y: auto;
}

.pd-selectOrg-selectList li{
    padding-left: 5px;
    cursor: pointer;
}